.nav-tab-section {    
    padding: 10px 30px 10px 20px !important;
}

.page-title {    
    margin-bottom: 20px !important;
    margin-top: 30px !important;
}

#profile-header {
    padding: 200px 100px !important;
}
#profile-header .profile-section .media .media-body h5 {
    margin: 50px 0 0 0 !important;  
}
.nav-link {    
    padding: 4px 10px 10px 10px !important;
}
