<div class="page-header">
    <div class="page-title">
        <h3>Create Profile</h3>
    </div>
</div>

<div class="container">
    <form [formGroup]="fguserprofile">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                <div class="general-info">
                    <div class="info">
                        <h6 class="mt-4">General Information</h6>
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="upload ml-md-5 mt-4 pr-md-4">

                                    <input type="file" #ProfilePic formControlName="Profile" class="dropify"
                                        data-default-file="assets/img/200x200.jpg" data-max-file-size="2M" />
                                    <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Upload Picture</p>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-7 mt-md-0 mt-4">
                                <div class="form">
                                    <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <input type="text" class="form-control mb-4" formControlName="FirstName">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control mb-4" formControlName="LastName">
                                    </div>
                                    <div class="form-group">
                                        <label for="profession">Profession</label>
                                        <input type="text" class="form-control mb-4" formControlName="Profession">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                 
                <div class="save-info">
                    <div class="row">
                        <div class="col-md-11 mx-auto">
                            <button class="btn btn-gradient-warning mb-4 float-right btn-rounded">Save</button>
                        </div>
                    </div>
                </div>
                 -->
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                <div class="about">
                    <div class="info">
                        <h5 class="mt-4">About</h5>
                        <div class="row">
                            <div class="col-md-11 mx-auto mb-4">
                                <div class="dob-input">Date of Birth</div>
                                <div class="d-sm-flex d-block">
                                    <div class="form-group mr-1">
                                        <select class="form-control" formControlName="Day">
                                            <option>Day</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                    <div class="form-group mr-1">
                                        <select class="form-control" formControlName="Month">
                                            <option>Month</option>
                                            <option>Jan</option>
                                            <option>Feb</option>
                                            <option>Mar</option>
                                            <option>Apr</option>
                                            <option>May</option>
                                            <option>Jun</option>
                                            <option>Jul</option>
                                            <option>Aug</option>
                                            <option>Sep</option>
                                            <option>Oct</option>
                                            <option>Nov</option>
                                            <option>Dec</option>
                                        </select>
                                    </div>
                                    <div class="form-group mr-1">
                                        <select class="form-control" formControlName="Year">
                                            <option>Year</option>
                                            <option>2018</option>
                                            <option>2017</option>
                                            <option>2016</option>
                                            <option>2015</option>
                                            <option>2014</option>
                                            <option>2013</option>
                                            <option>2012</option>
                                            <option>2011</option>
                                            <option>2010</option>
                                            <option>2009</option>
                                            <option>2008</option>
                                            <option>2007</option>
                                            <option>2006</option>
                                            <option>2005</option>
                                            <option>2004</option>
                                            <option>2003</option>
                                            <option>2002</option>
                                            <option>2001</option>
                                            <option>2000</option>
                                            <option>1999</option>
                                            <option>1998</option>
                                            <option>1997</option>
                                            <option>1996</option>
                                            <option>1995</option>
                                            <option>1994</option>
                                            <option>1993</option>
                                            <option>1992</option>
                                            <option>1991</option>
                                            <option>1990</option>
                                            <option>1989</option>
                                            <option>1988</option>
                                            <option>1987</option>
                                            <option>1986</option>
                                            <option>1985</option>
                                            <option>1984</option>
                                            <option>1983</option>
                                            <option>1982</option>
                                            <option>1981</option>
                                            <option>1980</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11 mx-auto">
                                <div class="form-group">
                                    <label for="aboutBio">Bio</label>
                                    <textarea class="form-control" style="height: auto !important;"
                                        formControlName="Bio" placeholder="Tell something interesting about yourself"
                                        rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="save-info">
                    <div class="row">
                        <div class="col-md-11 mx-auto">
                            <button class="btn btn-gradient-warning mb-4 float-right btn-rounded">Save</button>
                        </div>
                    </div>
                </div> -->
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                <div class="contact">
                    <div class="info">
                        <h5 class="mt-4">Contact</h5>
                        <div class="row">
                            <div class="col-md-11 mx-auto">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input type="text" class="form-control mb-4" formControlName="Address"
                                                placeholder="Los Angeles">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="location">Location</label>
                                            <input type="text" class="form-control mb-4" formControlName="Location"
                                                placeholder="Location">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" class="form-control mb-4" formControlName="Phone"
                                                placeholder="Write your phone number here">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control mb-4" formControlName="Email"
                                                placeholder="Write your email here">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="save-info">
                        <div class="row">
                            <div class="col-md-11 mx-auto">
                                <button class="btn btn-primary btn-gradient-success mb-4 float-right btn-rounded"
                                    (click)="SaveProfile()" type="submit">Save</button>
                            </div>
                            <!-- [disabled]="!this.fguserprofile.valid" -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>