<body class="pass-recovery" style="height: 100vh !important;">

  <form [formGroup]="fgResetUserPassword" class="form-pass-recovery">

    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <img alt="logo" src="assets/img/logo-6.png" class="theme-logo">
      </div>
      <div class="col-md-12">
        <h4>Recover Password</h4>
        <p>If you forgot your password enter your email and instructions will sent to you!</p>
      </div>
      <div class="col-md-12">
        <label for="inputEmail" class="">Email</label>
        <input type="email" formControlName="Email" class="form-control" placeholder="Email Address"
          aria-describedby="inputEmail" required>

        <label class="error"
          *ngIf="this.fgResetUserPassword.get('Email').value=='' && !this.fgResetUserPassword.get('Email').pristine ">
          Enter Email
        </label>
        <button class="btn btn-lg btn-gradient-danger btn-block btn-rounded mb-4 mt-5" type="submit"
          (click)="ResetPassword()" [disabled]="!this.fgResetUserPassword.valid">
          Reset
          Password
        </button>
        <a href="user_login_1.html" class="btn btn-lg btn-outline-dark btn-block btn-rounded mb-3">Back</a>
      </div>
    </div>

  </form>

</body>